<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>My IRC Chat</title>
    <header>
        <p><a href="/chat">My IRC Chat</a></p>
        <div>
            <a id="link_menu" href="http://localhost:3000/user/profile">Profile</a>
        </div>
    </header>
    <body>

        <div id="login-container">
            <div class="reset message-box">
                <h1>Messages de l'utilisateur</h1>
                <% messages.forEach(message => { %>
                    <div class="conversation">
                        <p>Sender : <%= username %></p> <p>Message : <%= message.content %></p>
                        <p>Received by : <%= message.receiver %></p>
                    </div>
                <% }); %>
            </div>
        </div>

    </body>
</html>