<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>Connexion | Mon IRC</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <header>
      <p><a href="/">My IRC Chat</a></p>
  </header>
    <div id="login-container">
      <h1 class="reset">Connexion</h1>
      <form id="login-form" action="/user/login" method="post">
        <input
          type="text"
          id="email"
          name="email"
          placeholder="Votre adresse email"
          required
        />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Mot de passe"
          required
        />
        <button id="login_button" type="submit">Se connecter</button>
      </form>
      <p>
        Mot de passe oublié ? <a href="user/ask-reset">Réinitialiser le mot de passe</a>
      </p>
      <p>
        Vous n'avez pas de compte ? <a href="/registration">Inscrivez-vous</a>
      </p>
    </div>
    
  </body>
</html>
