<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historique des Conversations</title>
</head>
<header>
    <p><a href="/">My IRC Chat</a></p>
    <div>
        <% if (isAdmin) { %>
            <a href="/admin">Tableau de bord</a>
        <% } else { %>
            <a href="/profile">Profile</a>
        <% } %>
       
    </div>
</header>
<body>
    <form action="/conversation-history" method="post">
        <label for="startDate">Date de début:</label>
        <input type="date" id="startDate" name="startDate" required>

        <label for="endDate">Date de fin:</label>
        <input type="date" id="endDate" name="endDate" required>

        <button type="submit">Rechercher</button>
    </form>
    <h1>Historique des Conversations de l'Utilisateur</h1>
    <ul>
        <% conversations.forEach(conversation => { %>
            <li>
                <strong>Expéditeur:</strong> <%= conversation.user.username %>
                <br>
                <% if (conversation.receiverId) { %>
                    <strong>Destinataire:</strong> <%= conversation.receiverId.username %>
                <% } else { %>
                    <strong>Destinataire:</strong> Tous
                <% } %>
                <br>
                <strong>Contenu:</strong> <%= conversation.content %>
            </li>
        <% }); %>
    </ul>
</body>
</html>
<!-- Input exemple {
    "startDate": "2024-04-01T00:00:00.000Z",
    "endDate": "2024-04-04T23:59:59.999Z"
} -->
