<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>My IRC Chat</title>
</head>
<header>
    <p><a href="/">My IRC Chat</a></p>
    <div>
        <a id="link_menu" href="/">Connexion</a>
    </div>
</header>
<body>
    <div id="login-container">
        <div class="reset">
            <p >Désolé la page n'a pas été trouver !</p>
        </div>
    </div>
</body>
</html>