<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body
    <p>Modifier le mot de passe</p>
    <form action="/user/save-password" method="post">
       
        <input type="hidden" id="token" name="token" value="<%= token %>">
        <input type="hidden" id="userId" name="userId" value="<%= userId %>">
        <label for="password">Nouveau mot de passe:</label>
        <input type="password" id="password" name="password" required>

        <label for="confirmPassword">Confirmer le mot de passe:</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>

        <button type="submit">Mettre à jour</button>
    </form>
</body>
</html>
