<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>My IRC Chat</title>
</head>
<body>
<header>
    <p><a href="/">My IRC Chat</a></p>
    <div>
        <a id="link_menu" href="/">Connexion</a>
    </div>
</header>
<div id="login-container">
    <div class="reset">
        <h1>Modifier le mot de passe</h1>
        <form action="/user/save-password" method="post">
           
            <input type="hidden" id="token" name="token" value="<%= token %>">
            <input type="hidden" id="userId" name="userId" value="<%= userId %>">
            <label for="password">Nouveau mot de passe:</label>
            <input type="password" id="password" name="password" required>
    
            <label for="confirmPassword">Confirmer le mot de passe:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
    
            <button type="submit">Mettre à jour</button>
        </form>
    </div>
</div>

</body>
</html>
