<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css" />
    <title>My IRC Chat</title>
</head>
<header>
    <p><a href="/">My IRC Chat</a></p>
    <div>
        <a id="link_menu" href="http://localhost:3000/user/profile">Espace Admin</a>
    </div>
</header>

<body>
    <div id="login-container">
        <div class="reset">
            <p >Mot de passe mis à jour avec succès.</p>
        </div>
    </div>
</body>

</html>